@model SmartProd.Models.NotaSaida

@{
    ViewData["Title"] = "RegistrarNotaSaida";
}

<h1>RegistrarNotaSaida</h1>

<h4>NotaSaida</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="RegistrarNotaSaida" method="post">
            <div>
                <label>Número da Nota:</label>
                <input asp-for="NumeroNota" class="form-control" />
            </div>
            <div>
                <label>Destino:</label>
                <input asp-for="Destino" class="form-control" />
            </div>

            <h4>Itens da Saída</h4>
            <table class="table">
                <thead>
                    <tr>
                        <th>Produto (Id)</th>
                        <th>Quantidade</th>
                    </tr>
                </thead>
                <tbody id="itens-saida">
                    <tr>
                        <td><input name="Itens[0].IdProduto" class="form-control" /></td>
                        <td><input name="Itens[0].Quantidade" type="number" class="form-control" /></td>
                    </tr>
                </tbody>
            </table>
            <button type="button" onclick="adicionarItemSaida()">Adicionar Item</button>

            <br /><br />
            <button type="submit" class="btn btn-danger">Salvar Nota de Saída</button>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
